@charset "utf-8";

/*
 * Normalize styles
 * Copyright 2016, 2017 William Lupshenko
 * 
 * This file is a part of ToberUberStobe
 * 
 * ToberUberStobe is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the license, or
 * (at your option) any later version
 */

* {
	-webkit-user-drag: none;
	-webkit-user-select: none;
	image-rendering: pixelated;
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

@font-face {
	font-family: "font";
	src: url("font.ttf");
}

#canvas {
	border: none;
	background: #77B5FE;
	cursor: none;
}

#loadingScreen {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	cursor: none;
}
